
// Mostrar frases que hay en base de datos
<div><table>
<% var=i; for (i=0; i < quizes.length; i++){ %>
<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>
</div>
