
<form name="intro" action="/quizes/respuesta">
<label>Introduzca un pais de Europa: <input type="text" name="search" /></label>
<input type="submit">
</form>
<a href="/quizes/new"><button>Crear pregunta</button></a>
