
<h3>Créditos:</h3>
<p>Autor principal: Juan Quemada</p>
<p><img src="/images/escudo.jpg" width="100" /></p>
<p>Colaborador: Francisco J.Capelo </p>
<p><img src="/images/imagen1.png" width="100" /></p>
